<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone for speech-to-text transcription.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Uses access to update, read and write reminders.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses speech recognition to transcribe your voice into text.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
